<header>
  <div class="container-fluid">
    <!-- TITLE -->
    <div class="row row-centered logoDiv">
      <div class="col-xs-12 col-centered">
        <h1>
          <img id ="logo" src = "{{"pictures/logo.png"| prepend: site.baseurl }}"/>
        </h1>

      </div>
    </div>
  <nav  class = "navbar">
    <div class="row row-centered">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
       <ul class="nav navbar-nav" id = "nav">
        
          <li class = "navBtn homeLink"><a class="headLink" href="{{"index.html"| prepend: site.baseurl }}">Home</a></li>
          <li role="presentation" class="dropdown navBtn projectLink">
              <a class="dropdown-toggle headLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Project <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dMenu projMenu">
                <li><a href="{{"project.html"| prepend: site.baseurl }}">Description</a></li>

                <li><a href="">Parts</a></li>
                <li><a href="">Results</a></li>
                <li><a href="{{"Experiments.html"| prepend: site.baseurl }}">Experiments</a></li>
                <li><a href="{{"notebook.html"| prepend: site.baseurl }}">Notebook</a></li>
              </ul>
          </li>
          <li role="presentation" class="dropdown navBtn">
              <a class="dropdown-toggle headLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Software <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dMenu projMenu">
                <li><a href="{{"gene.html"| prepend: site.baseurl }}">CBCR Model</a></li>
                <li><a href="{{"match.html"| prepend: site.baseurl }}">iGEMMatch.org</a></li>
              </ul>
          </li>       
          <li class = "navBtn teamLink" ><a class="headLink" href="{{"team.html"| prepend: site.baseurl }}">Team</a></li>
          <li role="presentation" class="dropdown navBtn projectLink">
              <a class="dropdown-toggle headLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Human Practices <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dMenu projMenu">
                <li><a href="{{"HPO.html"| prepend: site.baseurl }}">Overview</a></li>
                <li><a href="{{"safe.html"| prepend: site.baseurl }}">Safe By Design</a></li>

                <li><a href="{{"syn.html"| prepend: site.baseurl }}">Seeing Blue: Scenarios for SYNENERGENE</a></li>
                <li><a href="{{"interview.html"| prepend: site.baseurl }}">How to Conduct Ethical Interventions in iGEM Surveys</a></li>
                <li><a href="">“Beyond Artificial” Policy Paper</a></li>
                <li><a href="{{"integrated.html"| prepend: site.baseurl }}">Adventures in Human Practices: Integration from Day 1</a></li>
              </ul>
          </li>

       
      </ul>
      </div>
    </div>
  </nav>
    <!-- /TITLE -->
</div>


</header>
